
<img src="https://cdn.pixabay.com/photo/2012/04/14/15/37/cheeseburger-34315_1280.png" alt="Image of a cheeseburger from Pixabay" style="width: 20%; margin-left:40%;">
<br>


<div class="container">
	<div class="row">
		<div class="col-1"></div>
		<div class="col-5">
			{{#each burgerList}}
			<p>
			<div class="burger">{{id}}: {{name}} <button style="float: right;" type="submit">Devour it!</button></div>
			</p>
			{{/each}}
		</div>
		<div class="col-1"></div>
		<div class="col-4">
			{{#each burgerList}}
			<p>
			<div class="burger">{{id}}: {{name}}</div>
			</p>
			{{/each}}
		</div>
		<div class="col-1"></div>
	</div>
</div>

<form action="/" method="POST">
	<h3>Enter a type of burger that you would like to eat:</h3>
	<textarea style="width: 30%;" type="text" name="name"></textarea>
	<br>
	<button type="submit">Add Burger!</button>
</form>