<!DOCTYPE html>
<html lang="en">
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
		<title>Eat Da Burger</title>
	</head>
	<style>
		body {
			background-color: rgb(233, 176, 33);
			padding: 2%;
		}
		.burger {
			padding: 1em;
			background-color: rgb(225, 225, 225);
			border-style:solid;
			border-color: black;
			border-width: 2px;
		}
		form {
			text-align: center;
		}
		h3 {
			text-align: center;
		}
		.hide {
			display: none;
		}
	</style>
	<body>
		{{{body}}}
	</body>
</html>
